.main_container {
    flex: 1;
    background-color: black;
    position: relative;
}

.main_container > h1 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0;
}

.no_results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.show_more {
    display: block;
    margin: 15px auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    border-radius: 2px;
    /*background-color: #DEB887;*/
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px rgb(229, 226, 226);
    cursor: pointer;
}

.show_more:hover {
    background-color: white;
}

.total_size {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {

    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 15px 0;
    }

    .results_search {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
    }
}