.movie_info {
    flex: 1;
    background-color: var(--color-bg);
}

.moviecard {
    background-color: var(--color-surface);
    height: 550px;
    width: 70%;
    margin: 20px auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    width: 100%;
}

.container > h1 {
    color: var(--color-text-secondary);
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
}

.star {
    color: var(--color-accent);
}

.grade {
    color: var(--color-text-secondary);
}

.score {
    display: flex;
    gap: 5px;
}

.tagline {
    color: var(--color-text-secondary);
    margin: 15px 0 35px;
}

.movie_attributes {
    align-self: flex-start;
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie_attributes > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    display: flex;
    gap: 5px;
}

.info > svg {
    color: var(--color-accent);
}

.info > span {
    font-weight: 600;
}

.chart {
    stroke-width: 20;
}

.placeholder {
    background: url(/public/template.svg) no-repeat center;
    flex-basis: 100px;
    align-self: stretch;
    min-height: 364.5px;
}

.overview {
        margin: 10px 0;
}

@media screen and (min-width: 768px) {
    .container {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 40%;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 30%;
    }
}