.no_results {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--color-bg);
}

.no_results > svg {
    width: 3rem;
    height: 3rem;
    color: var(--color-accent);
}

.no_results > p {
    color: var(--color-text-secondary);
    font-size: 1.2rem;
}