.no_results {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: black;
}

.no_results > svg {
    width: 3rem;
    height: 3rem;
    color: #DEB887;
}

.no_results > p {
    color: whitesmoke;
    font-size: 1.2rem;
}