.moviecard {
    background-color: #1b1b1b;
    /* height: 550px; */
    width: 70%;
    margin: 20px auto;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.title {
    color: white;
    font-size: 1.4rem;
}

.title, .score {
    align-self: flex-start;
}

.poster {
    width: 100%;
}

.score {
    display: flex;
    gap: 5px;
}

.star {
    color: #DEB887;
}

.grade {
    color: whitesmoke;
}

.details_button {
    width: 100%;
    border: none;
    padding: 15px 0;
    border-radius: 4px;
    background-color: #DEB887;
    font-weight: bold;
    text-align: center;
    color: black;
}

.placeholder {
    background: url(/public/template.svg) no-repeat center;
    /* width: 100%;
    height: 100px; */
    flex-basis: 100px;
    align-self: stretch;
    min-height: 364.5px;
}