.header {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    padding: 8px 0;
    grid-area: header;
}